.navbar-item img {
    max-height: 3rem;
}

.navbar-brand{
    width: 100%;
    justify-content: space-between;
}

.navbar-item img.google-login {
    max-height: 2.5rem;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-left: auto;
}

.navbar.is-light .navbar-brand > a.navbar-item:hover,
.navbar.is-light .navbar-end > a.navbar-item:hover {
    background-color: transparent;
}

.columns {
    margin-top: 50px;
}

.c1{
    background: pink url("./images/Ellipse.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.contents {
    width: 50%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.contents p:nth-of-type(1) {
    margin-bottom: 3%;
}

.contents h2{
    line-height: 1;
    margin-bottom: 5%;
}

.contents p:nth-of-type(2) {
    margin-bottom: 10%;
}

.contents button{
    width: 30%;
}

@media (max-width: 650px) {
    .contents{
        top: 25%;
    }

    .c1{
        background-size: 100% 100%;
    }
}

@media (max-width: 470px) {
    .contents h2{
        font-size: 2rem !important;
    }
}